<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Unban Users{% endblock %}

{% block content %}

<div class="container">
    {% if rows %}
    <form method="post" action="">
        {% csrf_token %}
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Role</th>
            <th>Select</th>
        </tr>
        {% for row in rows %}
            <tr>
                <td>{{forloop.counter}}</td>
                <input type="text" value="{{row.user.id}}" hidden="hidden" name="user"><td>{{row.user}}</td>
                <td>{{row.role}}</td>
                <td><input type="checkbox" name="unban" value="True"></td>
            </tr>
        {% endfor %}
    </table>
    <button type="submit" class="btn btn-success">Submit</button>
    </form>
    {% else %}
        <h1 class="jumbotron text-center">No users suspended</h1>
    {% endif %}
</div>

{% endblock %}
