{% extends 'tabledata/base.html' %}           
{% load utils %}
{% block content %}
    <a href='edit/'>
        <button type='button' class='btn btn-primary pull-left'>Edit</button>
    </a>
    <a href='add/'>
        <button type='button' class='btn btn-success pull-left'>Add</button>
    </a>
    <br>
    <br>
<form method="post" action="/">
	{% csrf_token %}
	<table class="table table-bordered" id="tableData">
		<tr>
	    	<th>Edit</th>
            <th>View</th>

			<th>ID</th>
			<th>Billing Cisco</th>
			<th>Location Code</th>
			<th>Duns</th>
			<th>Facility Name</th>
			<th>City</th>
			<th>State</th>
			<th>Zip Code</th>
			<th>Dock Code</th>
			<th>Simplified Dock</th>
			<th>No of Shifts</th>
			<th>Drop Deck Allowed Y/N</th>
			<th>Dock Bumps Y/N</th>
			<th>Max Dock Bumps Allowed</th>
			<th>Date Entered</th>
			<th>Notes</th>
			<th>CO Locate</th>
			<th>Source</th>
		</tr>
		{% for row in rows %}
                    <tr>
                        <td><a href='edit/{{row|get_item:"bh_gm_dock_id"}}'><i class="far fa-edit"></i></a></td>
                        <td><a href='view/{{row|get_item:"bh_gm_dock_id"}}'><i class="fas fa-eye"></i></a></td>

                        <td>{{forloop.counter}}</td>
                        <td>{{row|get_item:"billing_cisco"}}</td>
                        <td>{{row|get_item:"location_code"}} </td>
                        <td>{{row|get_item:"duns"}} </td>
                        <td>{{row|get_item:"facility_name"}} </td>
                        <td>{{row|get_item:"city"}} </td>
                        <td>{{row|get_item:"state"}} </td>
                        <td>{{row|get_item:"zip_code"}} </td>
                        <td>{{row|get_item:"dock_code"}} </td>
                        <td>{{row|get_item:"simplified_dock"}} </td>
                        <td>{{row|get_item:"no_of_shifts"}} </td>
                        <td>{{row|get_item:"drop_deck_allowed_yn"}} </td>
                        <td>{{row|get_item:"dock_bump_yn"}} </td>
                        <td>{{row|get_item:"max_dock_bumps_allowed"}} </td>
                        <td>{{row|get_item:"date_entered"}} </td>
                        <td>{{row|get_item:"notes"}} </td>
                        <td>{{row|get_item:"co_locate"}} </td>
                        <td>{{row|get_item:"source"}} </td>

                    </tr>
        {% endfor %}
	</table>
</form>
{% endblock %}
